
body {
  background-color: lightgray; 
}
/*For the line right below section headings*/
hr {
width: 100%;
color: yellow;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content {
  color: white;
}
.form-label {
  color: darkgray;
}
.headingStyle {
  color: darkgray;
}
/*Used to color the nav bar and align part of it to the right*/
.navbar-nav {
  margin-left: auto;
  background-color: lightgray;
}
.navbar-brand {
  background-color:darkgray;
  color:white;
}
/* Adds a sticky footer to the bottom of the page */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
/* Makes the font larger for smaller screens */
@media screen and (max-width: 768px) {
  body p {
    font-size: 24px;
  }

}