body {
  background-color: lightgray; 
}

hr {
width: 100%;
color: yellow;
}
.content {
  color: white;
}
.form-label {
  color: darkgray;
}
.headingStyle {
  color: darkgray;
}
.navbar-nav {
  margin-left: auto;
  background-color: lightgray;
}
.navbar-brand {
  background-color:darkgray;
  color:white;
}

footer p {
  background-color: grey;
  color: white;
}