body {
  background-color: lightgray; 
}

hr {
width: 100%;
color: yellow;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content {
  color: white;
}
.form-label {
  color: darkgray;
}
.headingStyle {
  color: darkgray;
}
.navbar-nav {
  margin-left: auto;
  background-color: lightgray;
}
.navbar-brand {
  background-color:darkgray;
  color:white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
