.container {
    background-color: #56a0d3;
    border:  5px solid #13294B;
}

.content {
    color: white;
  }

hr {
    background-color: white;
    width: 100%;
}

.selfPicture {
    border:  1px solid #13294B;
}